.square{
	width:30%;
	padding-bottom:30%;
	background-color:purple;
	float:left;
	margin:1.66%;
	border-radius:15%;
	transition:background 0.6s;
}

body{
	background-color:#232333;
	margin:0;
	font-family: 'Montserrat', sans-serif;
}
.container{
	margin: 20px auto;
	width:600px;
}
h1{
	color:white;
	text-align:center;
	background-color: steelblue;
	margin:0;
	font-weight: 200;
	text-transform: uppercase;
	padding 20px 0;
	line-height:1.1;

}
span{
	color:black;
	text-align:center;
}
.tools{
	text-align: center;
	background-color: white;
	color:black;
}
.selected{
	background-color: steelblue;
	color:white;
}
.colorDisplay{
	color:white;
	font-size: 1.5em;
}
button{
	border:none;
	background: none;
	height:100%;
	font-size:inherit;
	color:steelblue;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all 0.3s;

}
button:hover{
	color:white;
	background-color: steelblue;
}
.isCorrect{
	display:inline-block;
	width:20%;
}